<h1>Listing course_enrollments</h1>

<table id="grid">
  <tr>
    <th data-field="Student">Student</th>
    <th data-field="Course">Course</th>
    <th data-field="管理">管理</th>
  </tr>

<% @course_enrollments.each do |course_enrollment| %>
  <tr>
    <td><%= course_enrollment.student %></td>
    <td><%= course_enrollment.course %></td>
    <td>
      <div>
        <%= link_to 'Show', course_enrollment %>
        <%= link_to 'Edit', edit_course_enrollment_path(course_enrollment) %>
        <%= link_to 'Destroy', course_enrollment, confirm: 'Are you sure?', method: :delete %>
      </div>
    </td>
  </tr>
<% end %>
</table>

<script>
    $(document).ready(function() {
        $("#grid").kendoGrid({
            height: 360,
            sortable: true
        });
    });
</script>

<br />

<%= link_to 'New Course enrollment', new_course_enrollment_path %>
