<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @course_enrollment.student %>
</p>

<p>
  <b>Course:</b>
  <%= @course_enrollment.course %>
</p>


<%= link_to 'Edit', edit_course_enrollment_path(@course_enrollment) %> |
<%= link_to 'Back', course_enrollments_path %>
