<h1><%= t 'syllabuses.list' %></h1>
<%= link_to t('syllabuses.new'), new_syllabus_path, :class => "make-button" %>

<table class="make-grid">
  <tr>
    <th data-field="<%= t 'syllabuses.code' %>"><%= t 'syllabuses.code' %></th>
    <th data-field="<%= t 'syllabuses.name' %>"><%= t 'syllabuses.name' %></th>
    <th data-field="<%= t 'syllabuses.description' %>"><%= t 'syllabuses.description' %></th>
    <th data-field="<%= t 'syllabuses.credits' %>"><%= t 'syllabuses.credits' %></th>
    <th data-field="管理">管理</th>
  </tr>

<% @syllabuses.each do |syllabus| %>
  <tr>
    <td><%= syllabus.code %></td>
    <td><%= syllabus.name %></td>
    <td><%= syllabus.description %></td>
    <td><%= syllabus.credits %></td>
    <td>
      <div>
        <%= link_to t(:Show), syllabus %>
        <%= link_to t(:Edit), edit_syllabus_path(syllabus) %>
        <%= link_to t(:Destroy), syllabus, confirm: 'Are you sure?', method: :delete %>        
      </div>
    </td>
  </tr>
<% end %>
</table>
