<h1><%= t 'syllabuses.list' %></h1>

<table>
  <tr>
    <th><%= t 'syllabuses.code' %></th>
    <th><%= t 'syllabuses.name' %></th>
    <th><%= t 'syllabuses.description' %></th>
    <th><%= t 'syllabuses.credits' %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @syllabuses.each do |syllabus| %>
  <tr>
    <td><%= syllabus.code %></td>
    <td><%= syllabus.name %></td>
    <td><%= syllabus.description %></td>
    <td><%= syllabus.credits %></td>
    <td><%= link_to t(:Show), syllabus %></td>
    <td><%= link_to t(:Edit), edit_syllabus_path(syllabus) %></td>
    <td><%= link_to t(:Destroy), syllabus, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('syllabuses.new'), new_syllabus_path %>
