<p id="notice"><%= notice %></p>


<p>
  <b><%= t 'syllabuses.code' %>:</b>
  <%= @syllabus.code %>
</p>

<p>
  <b><%= t 'syllabuses.name' %>:</b>
  <%= @syllabus.name %>
</p>

<p>
  <b><%= t 'syllabuses.description' %>:</b>
  <%= @syllabus.description %>
</p>

<p>
  <b><%= t 'syllabuses.credits' %>:</b>
  <%= @syllabus.credits %>
</p>


<%= link_to t(:Edit), edit_syllabus_path(@syllabus) %> |
<%= link_to t(:Back), syllabuses_path %>
