<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label t :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label t :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label t :birth %><br />
    <div class="hide">
      <%= f.date_select :birth %>
    </div>
    <div class="calendar" id="c-birth"></div>
    <input class="popdate" id="birth" style="width: 180px;"></input>
  </div>
  <div class="field">
    <%= f.label t :admitted %><br />
    <div class="hide">
      <%= f.date_select :admitted %>
    </div>
    <div class="calendar" id="c-admitted"></div>
    <input class="popdate" id="admitted" style="width: 180px;"></input>
  </div>
  <div class="field">
    <%= f.label t :graduated %><br />
    <div class="hide">
      <%= f.date_select :graduated %>
    </div>
    <div class="calendar" id="c-graduated"></div>
    <input class="popdate" id="graduated" style="width: 180px;"></input>
  </div>
      
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<script>
$(document).ready(function() {

  $(function ()
  {
    var ctarget;
    $(".calendar").wijcalendar(
    {
      culture: "ja-JP",
      titleFormat: "yyyy年 MMMM",
      toolTipFormat: 'yyyy年MMMMdd日(dddd)',
      popupMode: true,
      selectedDatesChanged: function (e,args)
      {       
        console.log(e, args);
        var selDate = $(this).wijcalendar("getSelectedDate");
        if (!!selDate)
        {
          var y = selDate.getFullYear();
          var m = selDate.getMonth()+1;
          var d = selDate.getDate();
          
          $(ctarget).val(y+"年 "+m+"月"+d+"日"); 

          $("#student_"+ctarget.id+"_1i").append($('<option value="'+y+'">'+y+'</option>'));
          $("#student_"+ctarget.id+"_1i").val(y);
          $("#student_"+ctarget.id+"_2i").val(m);
          $("#student_"+ctarget.id+"_3i").val(d);
        }
      }
    });
  
    $(".popdate").click(function (e, args)
    {
      ctarget = e.currentTarget;
      cname = "c-" + ctarget.id;
      $(".calendar#"+cname).wijcalendar("popup",
      {
        of: $(ctarget),
        offset: '0 2'
      });
    })
  });



  
  function ChangeBirth(e)
  {
    var date = $("#dp-birth").data("kendoDatePicker").value();
    $('#student_birth_1i').append($('<option value="'+date.getFullYear()+'">'+date.getFullYear()+'</option>'));
    $("#student_birth_1i").val(date.getFullYear());
    $("#student_birth_2i").val(date.getMonth()+1);
    $("#student_birth_3i").val(date.getDate());
  }
  
  function ChangeAdmitted(e)
  {
    var date = $("#dp-admitted").data("kendoDatePicker").value();
    $('#student_admitted_1i').append($('<option value="'+date.getFullYear()+'">'+date.getFullYear()+'</option>'));
    $("#student_admitted_1i").val(date.getFullYear());
    $("#student_admitted_2i").val(date.getMonth()+1);
    $("#student_admitted_3i").val(date.getDate());
  }
  
  function ChangeGraduated(e, args)
  {
    console.log(e, args);
    var date = $("#dp-graduated").data("kendoDatePicker").value();
    $('#student_graduated_1i').append($('<option value="'+date.getFullYear()+'">'+date.getFullYear()+'</option>'));
    $("#student_graduated_1i").val(date.getFullYear());
    $("#student_graduated_2i").val(date.getMonth()+1);
    $("#student_graduated_3i").val(date.getDate());
  }
  
//  $(".datepicker").kendoDatePicker();
//  $("#dp-birth").data("kendoDatePicker").bind("change", ChangeBirth);
//  $("#dp-admitted").data("kendoDatePicker").bind("change", ChangeAdmitted);
//  $("#dp-graduated").data("kendoDatePicker").bind("change", ChangeGraduated);

});
</script>
