<%= form_for @student, :html => {:class => "form-vertical"} do |form| %>

  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="well">
    <div class="row-fluid">
      <div class="span6 control-group">
        <%= form.label :class_group_id, t("class"), :class => "control-label" %>
        <div class="controls">
          <%= form.collection_select :class_group_ids, ClassGroup.all, :id, :name, {}, {:class => 'span12'} %>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span3 control-group">
        <%= form.label :surname, t("name")+" ("+t("surname")+")", :class => "control-label" %>
        <div class="controls">
          <%= form.text_field :surname, :class => "span12" %>
        </div>
      </div>
      <div class="span3 control-group">
        <%= form.label :name, t("name")+" ("+t("given_name")+")", :class => "control-label" %>
        <div class="controls">
          <%= form.text_field :name, :class => "span12" %>
        </div>
      </div>
      <div class="span3 control-group">
        <%= form.label :surname, t("phonetic_reading")+" ("+t("surname")+")", :class => "control-label" %>
        <div class="controls">
          <%= form.text_field :surname, :class => "span12" %>
        </div>
      </div>
      <div class="span3 control-group">
        <%= form.label :name, t("phonetic_reading")+" ("+t("given_name")+")", :class => "control-label" %>
        <div class="controls">
          <%= form.text_field :name, :class => "span12" %>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span6">
        <%= form.label :admitted, t("admitted"), :class => "control-label" %>
        <div class="controls">
          <%= form.text_field :admitted, :class => "span12" %>
        </div>
      </div>
      <div class="span6">
        <%= form.label :graduated, t("graduated"), :class => "control-label" %>
        <div class="controls">
          <%= form.text_field :graduated, :class => "span12" %>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset class="well">
    <div class="tabbable tabs-right">

      <ul class="nav nav-tabs">
        <li class="active"><a href="#profile" data-toggle="tab"><%= t "profile" %></a></li>
        <li class=""><a href="#guardian" data-toggle="tab"><%= t "guardian" %></a></li>
        <li class=""><a href="#note" data-toggle="tab"><%= t "note.notes" %></a></li>
      </ul>

      <div class="tab-content">
        <%= render 'new_profile', :form => form %>
        <%= render 'new_guardian', :form => form %>
        <%= render 'new_note', :form => form %>
      </div>
    </div>

  </fieldset>

  <div class="form-actions">
    <div class="row-fluid">
      <div class="span3">
        <%= form.submit t("submit"), :class => "span12 btn btn-primary" %>
      </div>
      <div class="span3">
        <%= link_to t("Back"), students_path, :class => "span12 btn" %>
      </div>
    </div>
  </div>

<% end %>