<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label t :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label t :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label t :birth %><br />
    <%= f.date_select :birth %>
    <input class="datepicker" id="dp-birth"></input>
  </div>
  <div class="field">
    <%= f.label t :admitted %><br />
    <%= f.date_select :admitted %>
    <input class="datepicker" id="dp-admitted"></input>
  </div>
  <div class="field">
    <%= f.label t :graduated %><br />
    <%= f.date_select :graduated %>
    <input class="datepicker" id="dp-graduated"></input>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$(document).ready(function() {
  
  function ChangeBirth(e)
  {
    var date = $("#dp-birth").data("kendoDatePicker").value();
    $("#student_birth_1i").val(date.getFullYear());
    $("#student_birth_2i").val(date.getMonth()+1);
    $("#student_birth_3i").val(date.getDate());
  }
  
  function ChangeAdmitted(e)
  {
    var date = $("#dp-admitted").data("kendoDatePicker").value();
    $("#student_admitted_1i").val(date.getFullYear());
    $("#student_admitted_2i").val(date.getMonth()+1);
    $("#student_admitted_3i").val(date.getDate());
  }
  
  function ChangeGraduated(e)
  {
    var date = $("#dp-graduated").data("kendoDatePicker").value();
    $("#student_graduated_1i").val(date.getFullYear());
    $("#student_graduated_2i").val(date.getMonth()+1);
    $("#student_graduated_3i").val(date.getDate());
  }
  
  $(".datepicker").kendoDatePicker();
  $("#dp-birth").data("kendoDatePicker").bind("change", ChangeBirth);
  $("#dp-admitted").data("kendoDatePicker").bind("change", ChangeAdmitted);
  $("#dp-graduated").data("kendoDatePicker").bind("change", ChangeGraduated);

});
</script>
