<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label t :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label t :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label t :birth %><br />
    <%= f.date_select :birth %>
    <input class="datepicker"></input>
  </div>
  <div class="field">
    <%= f.label t :admitted %><br />
    <%= f.date_select :admitted %>
    <input class="datepicker"></input>
  </div>
  <div class="field">
    <%= f.label t :graduated %><br />
    <%= f.date_select :graduated %>
    <input class="datepicker"></input>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
