 <%= form.fields_for :notes do |note_form| %>
  <div class="tab-pane" id="note">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#note1" data-toggle="tab"><%= t("note.notes") + " 1" %></a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="note1">

          <div class="row-fluid">
            <div class="span12 control-group">
              <%= note_form.label :title, t("note.title"), :class => "control-label" %>
              <div class="controls">
                <%= note_form.text_field :title, :class => "span12" %>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span12 control-group">
              <%= note_form.label :content, t("note.content"), :class => "control-label" %>
              <div class="controls">
                <%= note_form.text_area :content, :class => "span12", :size => "0x10" %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <hr />

    <div class="row-fluid">
      <button class="span12 btn btn-primary"><%= t "note.add" %></button>
    </div>
  </div>
<% end %>