<% if @student.notes.any? %>
  <div class="tab-pane" id="note">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#note1" data-toggle="tab"><%= t "note.notes" %>1</a></li>
        <li class=""><a href="#note2" data-toggle="tab"><%= t "note.notes" %>2</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="note1">
          <div class="row-fluid">
            <div class="span12">
              <%= @student.notes.first.title %>
            </div>
          </div>
          <hr />
          <div class="row-fluid">
            <div class="span12">
              <%= @student.notes.first.content %>
            </div>
          </div>
        </div>

        <% unless @student.notes.second.nil? %>       
          <div class="tab-pane active" id="note2">
            <div class="row-fluid">
              <div class="span12"><%= @student.notes.second.title %></div>
            </div>
            <hr />
            <div class="row-fluid">
              <div class="span12">
                <%= @student.notes.second.content %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
    <hr />
    <div class="row-fluid">
      <button class="span12 btn btn-primary"><%= t "note.add" %></button>
    </div>
  </div>
</div>
<% end %>