<h1><%= t "students.list" %></h1>
<%= link_to t('students.new'), new_student_path, :class => "k-button" %>

<div id="grid"></div>

<script>
$(document).ready(function() {
  
  var wh = $(window).height();
  var gp = $('#grid').position();
  var g_num = Math.round((wh - gp.top) / 36) - 2;

  function SetGrid(DataSource)
  {
    var DateW = 95;
    
    $("#grid").kendoGrid
    ({
      dataSource:
      {
        data: DataSource,
        pageSize: g_num
      },
      height: (g_num + 1) * 36,
      groupable: false,
      scrollable: false,
      sortable: true,
      pageable: true,
      columns: 
      [
        {
          field: "name",
          title: "<%= t "students.name" %>",
          width: 128
        },
        {
          field: "address",
          title: "<%= t "students.address" %>"
        },
        {
          field: "phone",
          title: "<%= t "students.phone" %>",
          width: 128
        },
        {
          field: "email",
          title: "<%= t "students.email" %>",
          width: 256
        },
        {
          field: "birth",
          title: "<%= t "students.birth" %>",
          width: DateW
        },
        {
          field: "admitted",
          title: "<%= t "students.admitted" %>",
          width: DateW
        },
        {
          field: "graduated",
          title: "<%= t "students.graduated" %>",
          width: DateW
        },
        {
          field: "manage",
          title: "<%= t "manage" %>",
          width: 183,
          encoded: false
        }
      ]
    });
  }
  
  $.getJSON("/students.json",function(ds)
  {
    for(var i = 0; i < ds.length; i++)
    {
      var tag = '<div style="float:left"><a class="k-button" href="/students/'+ds[i].id+'">表示</a><a class="k-button" href="/students/'+ds[i].id+'/edit">編集</a></div>';
      ds[i]["manage"] = tag;
    }
    SetGrid(ds);
  });
});
</script>

<br />
