<h1><%= t "students.list" %></h1>

<table id="grid">
  <tr>
    <th data-field="<%= t "students.name" %>"><%= t "students.name" %></th>
    <th data-field="<%= t "students.address" %>"><%= t "students.address" %></th>
    <th data-field="<%= t "students.phone" %>"><%= t "students.phone" %></th>
    <th data-field="<%= t "students.email" %>"><%= t "students.email" %></th>
    <th data-field="<%= t "students.birth" %>"><%= t "students.birth" %></th>
    <th data-field="<%= t "students.admitted" %>"><%= t "students.admitted" %></th>
    <th data-field="<%= t "students.graduated" %>"><%= t "students.graduated" %></th>
    <th data-field="管理">管理</th>
  </tr>

  <% @students.each do |student| %>
  <tr>
    <td><%= student.name %></td>
    <td><%= student.address %></td>
    <td><%= student.phone %></td>
    <td><%= student.email %></td>
    <td><%= student.birth %></td>
    <td><%= student.admitted %></td>
    <td><%= student.graduated %></td>
    <td>
      <div>
        <%= link_to t(:Show), student %>
        <%= link_to t(:Edit), edit_student_path(student) %>
        <%= link_to t(:Destroy), student, confirm: 'Are you sure?', method: :delete %>
      </div>
    </td>
  </tr>
  <% end %>
</table>

<script>
    $(document).ready(function() {
        $("#grid").kendoGrid({
            height: 360,
            groupable: true,
            sortable: true,
            selectable: true
        });
    });
</script>

<br />

<%= button_to t('students.new'), new_student_path, :method => :get %>
