<h1><%= t "students.list" %></h1>

<div id="grid"></div>

<script>
$(document).ready(function() {
  
  $.getJSON("/students.json",function(ds)
  {
    for(var i = 0; i < ds.length; i++)
    {
      var tag = "<a href='/students/"+(i+1)+"'>表示</a> <a href='/students/"+(i+1)+"/edit'>編集</a>";
      ds[i]["manage"] = tag;
    }
    SetGrid(ds);
  });
  
  function SetGrid(DataSource)
  {
    $("#grid").kendoGrid
    ({
      dataSource:
      {
        data: DataSource,
        pageSize: 20
      },
      height: 720,
      groupable: false,
      scrollable: false,
      sortable: true,
      pageable: true,
      columns: 
      [
        {
          width: 128,
          field: "name",
          title: "<%= t "students.name" %>"
        },
        {
          field: "address",
          title: "<%= t "students.address" %>"
        },
        {
          field: "phone",
          title: "<%= t "students.phone" %>"
        },
        {
          field: "email",
          title: "<%= t "students.email" %>"
        },
        {
          field: "birth",
          title: "<%= t "students.birth" %>"
        },
        {
          field: "admitted",
          title: "<%= t "students.admitted" %>"
        },
        {
          field: "graduated",
          title: "<%= t "students.graduated" %>"
        },
        {
          field: "manage",
          encoded: false,
          title: "<%= t "manage" %>"
        }
      ]
    });
  }

});
</script>

<br />

<%= link_to t('students.new'), new_student_path, :class => "k-button" %>
