<p id="notice"><%= notice %></p>

<p>
  <b><%= t :name %>:</b>
  <%= @student.name %>
</p>

<p>
  <b><%= t :address %>:</b>
  <%= @student.address %>
</p>

<p>
  <b><%= t :phone %>:</b>
  <%= @student.phone %>
</p>

<p>
  <b><%= t :email %>:</b>
  <%= @student.email %>
</p>

<p>
  <b><%= t :birth %>:</b>
  <%= @student.birth %>
</p>

<p>
  <b><%= t :admitted %>:</b>
  <%= @student.admitted %>
</p>

<p>
  <b><%= t :graduated %>:</b>
  <%= @student.graduated %>
</p>


<%= link_to t(:Edit), edit_student_path(@student) %> |
<%= link_to t(:Back), students_path %>
