<p id="notice"><%= notice %></p>

<p>
  <b><%= t :name %>:</b>
  <%= @admin_student.name %>
</p>

<p>
  <b><%= t :address %>:</b>
  <%= @admin_student.address %>
</p>

<p>
  <b><%= t :phone %>:</b>
  <%= @admin_student.phone %>
</p>

<p>
  <b><%= t :email %>:</b>
  <%= @admin_student.email %>
</p>

<p>
  <b><%= t :birth %>:</b>
  <%= @admin_student.birth %>
</p>

<p>
  <b><%= t :admitted %>:</b>
  <%= @admin_student.admitted %>
</p>

<p>
  <b><%= t :graduated %>:</b>
  <%= @admin_student.graduated %>
</p>


<%= link_to t(:Edit), edit_admin_student_path(@admin_student) %> |
<%= link_to t(:Back), admin_students_path %>
