<h1>Listing exam_divisions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Portion</th>
    <th>Maxscore</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exam_divisions.each do |exam_division| %>
  <tr>
    <td><%= exam_division.name %></td>
    <td><%= exam_division.portion %></td>
    <td><%= exam_division.maxscore %></td>
    <td><%= link_to 'Show', exam_division %></td>
    <td><%= link_to 'Edit', edit_exam_division_path(exam_division) %></td>
    <td><%= link_to 'Destroy', exam_division, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exam division', new_exam_division_path %>
