<div class="modal hide fade" id="modal-options">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= t "config.label" %></h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <div class="control-group">
          <label class="control-label"><%= t 'language' %></label>
          <div class="controls">
            <select class="span3">
              <option>日本語 : <%= t("languages.ja")%></option>
              <option>English : <%= t("languages.en")%></option>
            </select>
            <p class="help-block"><%= t 'config.help.language' %></p>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><%= t "config.close" %></a>
    <a href="#" class="btn btn-primary"><%= t "config.save" %></a>
  </div>
</div>
