<ul class="nav" id="menu">
  <li><%= link_to t("menu.students"), students_path %></li>

  <li class="dropdown" data-hook="class_groups_menu">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <%= t("class_group_management") %>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li data-hook="class_groups"><%= link_to t("class_group.list"), class_groups_path %></li>
    </ul>
  </li>


  <li class="dropdown" data-hook="courses_menu">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <%= t("course.management") %>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li data-hook="syllabuses"><%= link_to t("syllabuses.plural"), syllabuses_path %></li>
      <li data-hook="courses"><%= link_to t("course.plural"), courses_path %></li>
      <li data-hook="course_groups"><%= link_to t('course_groups.course_groups'), course_groups_path %></li>
    </ul>
  </li>


  <li class="dropdown" data-hook="exams_menu">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <%= t("menu.exams") %>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li data-hook="exams"><%= link_to t("exams.plural"), exams_path %></li>
    </ul>
  </li>

  <%= render :partial => 'gaku/shared/menu/admin' %>

</ul>
