<h1>Listing class_group_enrollments</h1>

<table>
  <tr>
    <th>Class group</th>
    <th>Student</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @class_group_enrollments.each do |class_group_enrollment| %>
  <tr>
    <td><%= class_group_enrollment.class_group %></td>
    <td><%= class_group_enrollment.student %></td>
    <td><%= link_to 'Show', class_group_enrollment %></td>
    <td><%= link_to 'Edit', edit_class_group_enrollment_path(class_group_enrollment) %></td>
    <td><%= link_to 'Destroy', class_group_enrollment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Class group enrollment', new_class_group_enrollment_path %>
