<p id="notice"><%= notice %></p>

<p>
  <b>Class group:</b>
  <%= @class_group_enrollment.class_group %>
</p>

<p>
  <b>Student:</b>
  <%= @class_group_enrollment.student %>
</p>


<%= link_to 'Edit', edit_class_group_enrollment_path(@class_group_enrollment) %> |
<%= link_to 'Back', class_group_enrollments_path %>
