<h1><%= t 'school_classes.list' %></h1>

<table>
  <tr>
    <th><%= t 'school_classes.code' %></th>
    <th><%= t :syllabus %></th>
    <th><%= t :schedule %></th>
    <th><%= t :teacher %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @school_classes.each do |school_class| %>
  <tr>
    <td><%= school_class.code %></td>
    <td><%= Syllabus.find(school_class.syllabus).name %></td>
    <td><%= link_to 'Show', school_class %></td>
    <td><%= link_to 'Edit', edit_school_class_path(school_class) %></td>
    <td><%= link_to 'Destroy', school_class, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('school_classes.new'), new_school_class_path %>
