<h1>Listing school_classes</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Syllabus</th>
    <th>Schedule</th>
    <th>Teacher</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @school_classes.each do |school_class| %>
  <tr>
    <td><%= school_class.code %></td>
    <td><%= school_class.syllabus %></td>
    <td><%= school_class.schedule %></td>
    <td><%= school_class.teacher %></td>
    <td><%= link_to 'Show', school_class %></td>
    <td><%= link_to 'Edit', edit_school_class_path(school_class) %></td>
    <td><%= link_to 'Destroy', school_class, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New School class', new_school_class_path %>
