<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @school_class.code %>
</p>

<p>
  <b>Syllabus:</b>
  <%= @school_class.syllabus %>
</p>

<p>
  <b>Schedule:</b>
  <%= @school_class.schedule %>
</p>

<p>
  <b>Teacher:</b>
  <%= @school_class.teacher %>
</p>


<%= link_to 'Edit', edit_school_class_path(@school_class) %> |
<%= link_to 'Back', school_classes_path %>
