<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'school_classes.code' %>:</b>
  <%= @school_class.code %>
</p>

<p>
  <b><%= t 'combined_code' %>:</b>
  <%= if @syllabus.code != "" then @syllabus.code + "-" end -%><%= if @school_class.code != "" then @school_class.code + "-" end -%>
</p>

<p>
  <b><%= t :syllabus %>:</b>
  <%= Syllabus::find(@school_class.syllabus_id).name %>
</p>

<%= link_to t(:Edit), edit_school_class_path(@school_class) %> |
<%= link_to t(:Back), school_classes_path %>
