<h2><%= t "devise.sessions.sign_in" %></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div id="password-credentials">
  	<p>
  	  <%= f.label :email, t("devise.email") %><br />
      <%= f.email_field :email, :class => 'title', :tabindex => 1 %>
    </p>

    <p>
  	  <%= f.label :password, t("devise.password") %><br />
      <%= f.password_field :password, :class => 'title', :tabindex => 2 %>
    </p>

    <% if devise_mapping.rememberable? -%>
      <p><%= f.check_box :remember_me %> <%= f.label :remember_me, t("devise.sessions.remember_me") %></p>
    <% end -%>

    <p><%= f.submit t("devise.sessions.sign_in"), :id => 'sign_in', :class => 'button primary' %></p>

  </div>
<% end %>

<%= render "links" %>