<div id="admin-menu">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 id="schools-master-menu" class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#schools">
          <%= t(:'menu.admin.schools') %>
        </a>
      </h4>
    </div>

    <div id="schools"  class="panel-body panel-collapse collapse">
      <ul class="list-unstyled">
        <li id="schools-menu">
          <%= link_to t(:'menu.admin.schools'), [:admin, :schools], remote: true %>
        </li>
        <li id="school-years-menu">
          <%= link_to t(:'menu.admin.school_years'), [:admin, :school_years], remote: true %>
        </li>
      </ul>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 id="types-master-menu" class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#types">
          <%= t(:'menu.admin.types.types') %>
        </a>
      </h4>
    </div>

    <div id="types" class="panel-body panel-collapse collapse">
      <ul class="list-unstyled">
        <li id="attendance-types-menu">
          <%= link_to t(:'menu.admin.types.attendance_types'), [:admin, :attendance_types], remote: true %>
        </li>
        <li id="commute-methods-menu">
          <%= link_to t(:'menu.admin.types.commute_methods'), [:admin, :commute_method_types], remote: true %>
        </li>
        <li id="contact-types-menu">
          <%= link_to t(:'menu.admin.types.contact'), [:admin, :contact_types], remote: true %>
        </li>
        <li id="enrollment-statuses-menu">
          <%= link_to t(:'menu.admin.types.enrollment_status'), [:admin, :enrollment_statuses], remote: true %>
        </li>
        <li id="states-menu">
          <%= link_to t(:'menu.admin.types.states'), [:admin, :states], remote: true %>
        </li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 id="grading-master-menu" class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#grading">
          <%= t(:'menu.admin.grading.grading') %>
        </a>
      </h4>
    </div>

    <div id="grading" class="panel-body panel-collapse collapse">
      <ul class="list-unstyled">
        <li id="grading-methods-menu">
          <%= link_to t(:'menu.admin.grading.grading_methods'), [:admin, :grading_methods], remote: true %>
        </li>
        <li id="grading-method-sets-menu">
          <%= link_to t(:'menu.admin.grading.grading_sets'), [:admin, :grading_method_sets], remote: true %>
        </li>
      </ul>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 id="users-and-roles-master-menu" class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#users-and-roles">
          <%= t(:'menu.admin.users.users_and_roles') %>
        </a>
      </h4>
    </div>

    <div id="users-and-roles" class="panel-body panel-collapse collapse">
      <ul class="list-unstyled">
        <li id="users-menu">
          <%= link_to t(:'menu.admin.users.users'), [:admin, :users], remote: true %>
        </li>
        <li id="roles-menu">
          <%= link_to t(:'menu.admin.users.roles'), [:admin, :roles], remote: true %>
        </li>
      </ul>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 id="achievements-master-menu" class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#achievements">
          <%= t(:'menu.admin.achievements.achievements') %>
        </a>
      </h4>
    </div>

    <div id="achievements" class="panel-body panel-collapse collapse">
      <ul class="list-unstyled">
        <li id="simple-grade-types-menu">
          <%= link_to t(:'menu.admin.achievements.simple_grade_types'), [:admin, :simple_grade_types], remote: true %>
        </li>
        <li id="badge-types-menu">
          <%= link_to t(:'menu.admin.badge_types'), [:admin, :badge_types], remote: true %>
        </li>
      </ul>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 id="specialties-menu" class="panel-title">
        <%= link_to t(:'menu.admin.specialties'), [:admin, :specialties], remote: true %>
      </h4>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 id="departments-menu" class="panel-title">
        <%= link_to t(:'menu.admin.departments'), [:admin, :departments], remote: true %>
      </h4>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 id="presets-menu" class="panel-title">
        <%= link_to t(:'menu.admin.preset.plural'), [:admin, :presets], remote: true %>
      </h4>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 id="templates-menu" class="panel-title">
        <%= link_to t(:'menu.admin.templates'), [:admin, :templates], remote: true %>
      </h4>
    </div>
  </div>
