<div id="course_enrollments">
  <p id="enrolled_students_count">
    <b><%= t :num_enrolled %>:</b>
    <%= @course_enrollments.count %>
    <%= link_to t('add_student'), {:controller => :course_enrollments, :action => :new, :format => :html, 
      :active => "course", :idnum => @course.id}, :remote => true, :id => "add_student_enrollment", :class => "k-button" %>
    <div id="add_student_enrollment_box">
    </div>
  </p>
  <table id="enrolled_students_grid">
    <tr>
      <th data-field='<%= t "students.name" %>'><%= t "students.name" %></th>
      <th data-field='<%= t("assignments.plural") + t(:and) + t("tests.plural") %>'><%= t("assignments.plural") + t(:and) + t("tests.plural") %></th>
      <th data-field='<%= t "grades.total_points" %>'><%= t "grades.total_points" %></th>
      <th data-field='<%= t "grades.rank" %>'><%= t "grades.rank" %></th>
      <th data-field='<%= t :manage %>'><%= t :manage %></th>
    </tr>
    <% @course_enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.student.name %></td>
        <td>
          <%= link_to t("assignments.view"), "", :class => "k-button" %>
          <%= link_to t("tests.view"), "", :class => "k-button" %>
        </td><td></td><td></td><td></td>
      </tr>
    <% end %>
  </table>
  <script>
    $("#enrolled_students_grid").kendoGrid({height: 260});
  </script>
</div>
