<div id="course_enrollments">
  <p id="enrolled_students_count">
    <b><%= t :num_enrolled %>:</b>
    <%= @course.students.count %>
    <%= link_to t('add_student'), 
      {:controller => :course_enrollments, :action => :new, :course_id => @course.id},
      :remote => true, :id => "add_student_enrollment", :class => "make-button" %>
    <div id="add_student_enrollment_box">
    </div>
    <script>
      CourseAct.hookupEnrollment();
    </script>
  </p>
  <table id="enrolled_students_grid" class="make-grid">
    <tr>
      <th data-field='<%= t "students.name" %>'><%= t "students.name" %></th>
      <th data-field='<%= t("assignments.plural") + t(:and) + t("exams.plural") %>'><%= t("assignments.plural") + t(:and) + t("exams.plural") %></th>
      <th data-field='<%= t "grades.total_points" %>'><%= t "grades.total_points" %></th>
      <th data-field='<%= t "grades.rank" %>'><%= t "grades.rank" %></th>
      <!--<th data-field='<%= t :manage %>'><%= t :manage %></th>-->
    </tr>
    <% @course.students.each do |enrollment| %>
      <tr>
        <td><%= enrollment.name %></td>
        <td>
          <%= link_to t("assignments.view"), "", :class => "make-button" %>
          <%= link_to t("exams.view"), "", :class => "make-button" %>
        </td><td></td><td></td>
        <!--<td></td>-->
      </tr>
    <% end %>
  </table>
</div>
