<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('courses.code') %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label t(:syllabus) %><br />
    <%= f.select :syllabus_id, Syllabus.all.collect { |s| [s.name, s.id] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
