<h1><%= t 'courses.list' %></h1>

<table id="grid">
  <tr>
    <th data-field="<%= t 'syllabuses.code' %>-<%= t :syllabus %>-<%= t 'courses.code' %>">
      [<%= t 'syllabuses.code' %>]: <%= t :syllabus %>-<%= t 'courses.code' %>
    </th>
    <th data-field="<%= t :schedule %>"><%= t :schedule %></th>
    <th data-field="<%= t :teacher %>"><%= t :teacher %></th>
    <th data-field="<%= t :num_enrolled %>"><%= t :num_enrolled %></th>
    <th data-field="<%= t :manage %>"><%= t :manage %></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td>
      <%= link_to ("[" + course.syllabus.code + "]: " +course.syllabus.name + "-" + course.code), course, :class => "k-button" %>
    </td>
    <td></td>
    <td></td>
    <td><%= CourseEnrollment.where(:course_id => course).count %></td>
    <td>
      <div>
        <%= link_to t(:Edit), edit_course_path(course), :class => "k-button" %>
        <%= link_to t(:Destroy), course, confirm: t(:confirm_delete), method: :delete, :class => "k-button" %>      
      </div>
    </td>
  </tr>
<% end %>
</table>

<script>
    $(document).ready(function() {
        $("#grid").kendoGrid({
            height: 360,
            sortable: true,
            selectable: true
        });
    });
</script>

<br />

<%= link_to t('courses.new'), new_course_path, :class => "k-button" %>
