<p id="notice"><%= notice %></p>

<p>
  <b><%= t 'courses.code' %>:</b>
  <%= @course.code %>
</p>

<p>
  <b><%= t 'combined_code' %>:</b>
  <%= if @syllabus.code != "" then @syllabus.code + "-" end -%><%= if @course.code != "" then @course.code + "-" end -%>
</p>

<p>
  <b><%= t :syllabus %>:</b>
  <%= Syllabus::find(@course.syllabus_id).name %>
</p>

<div id="course_enrollments">
  <div id="enrolled_students_list">
  </div>
  <div id="add_student_enrollment">
  </div>
</div>


<%= link_to_enroll_student t('add_student'), @course.id, "add_student_enrollment" %>
<% # link_to t('add_student'), {:controller => :course_enrollments, :action => :new_from_course}, :remote => true, :id => "add_student_enrollment" %>
<% # link_to_enroll_student t('add_student'), {:controller => :course_enrollments, :action => :new, :format => :json}, :remote => true, :id => "new_course_enrollment" %>
<% # link_to t('add_student'), {:method => :new_course_enrollment}, :remote => true %>

<%= link_to t(:Edit), edit_course_path(@course) %> |
<%= link_to t(:Back), courses_path %>
