<p id="notice"><%= notice %></p>
<b><%= t 'courses.code' %>:</b>
<%= @course.code %> | 
<b><%= t 'combined_code' %>:</b>
<%= if @course.syllabus.code != "" then @course.syllabus.code + "-" end -%><%= if @course.code != "" then @course.code end -%> | 
<b><%= t :syllabus %>:</b>
<%= @course.syllabus.name %>

<%= link_to t(:Edit), edit_course_path(@course), :class => "make-button" %>
<%= link_to t(:Back), courses_path, :class => "make-button" %>

<div id="tabStrip">
  <ul>
    <li class="state-active"><a href="#enrollments-tab"><%= t "course_enrollments.list" %></a></li>
    <li><a href="#assignments-tab"><%= t "assignments.list" %></a></li>
    <li><a href="#exams-tab"><%= t "exams.list" %></a></li>
  </ul>
  <div id="enrollments-tab"><%= render :partial => "courses/enrollments" %></div>
  <div id="assignments-tab"><%= render :partial => "courses/assignments" %></div>
  <div id="exams-tab"><%= render :partial => "courses/exams" %></div>
</div>
<script>
  var tabStrip = $("#tabStrip").tabs();
</script>