<h1>Listing exams</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Course</th>
    <th>Problem count</th>
    <th>Max score</th>
    <th>Weight</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exams.each do |exam| %>
  <tr>
    <td><%= exam.name %></td>
    <td><%= exam.course %></td>
    <td><%= exam.problem_count %></td>
    <td><%= exam.max_score %></td>
    <td><%= exam.weight %></td>
    <td><%= exam.data %></td>
    <td><%= link_to 'Show', exam %></td>
    <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
    <td><%= link_to 'Destroy', exam, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exam', new_exam_path %>
