<h1>Listing exams</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Course</th>
    <th>Problem count</th>
    <th>Max score</th>
    <th>Weight</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exams.each do |exam| %>
  <tr>
    <td><%= exam.name %></td>
    <td><%= exam.course %></td>
    <td><%= exam.problem_count %></td>
    <td><%= exam.max_score %></td>
    <td><%= exam.weight %></td>
    <td><%= exam.data %></td>
    <td><%= link_to 'Show', exam %></td>
    <td><%= link_to 'Edit', edit_exam_path(exam) %></td>
    <td><%= link_to 'Destroy', exam, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Exam', new_exam_path %>

<hr />
<div class="well">
  <div class="row-fluid">
    <div class="span8">
      <div class="btn-toolbar">
        <div class="btn-group">
          <button class="btn btn-success" href="#"><i class="icon-list-alt icon-white"></i> 整列順序</button>
        </div>
        <div class="btn-group last" data-toggle="buttons-radio">
          <button class="btn active">出席番号順</button>
          <button class="btn">考査得点順</button>
          <button class="btn">学期得点順</button>
        </div>
        <div class="btn-group">
          <button class="btn btn-success" href="#"><i class="icon-edit icon-white"></i> 処理状態</button>
        </div>
        <div class="btn-group last" data-toggle="buttons-radio">
          <button class="btn active">入力途中</button>
          <button class="btn">入力完了</button>
        </div>
        <div class="btn-group last">
          <button class="btn">期末考査入力</button>
          <button class="btn">評価自動設定</button>
          <button class="btn">評価割合参照</button>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row-fluid">
    <div class="span12">
      <table class="table table-striped table-bordered table-condensed">
        <thead class="th-center">
          <tr>
            <th rowspan="2">No.</th>
            <th rowspan="2">組</th>
            <th rowspan="2">出席番号</th>
            <th rowspan="2">氏名</th>
            <th colspan="5">中間考査</th>
            <th colspan="5">期末考査</th>
            <th rowspan="2">学期得点</th>
            <th rowspan="2">中間評価</th>
            <th rowspan="2">学期評価</th>
            <th rowspan="2">欠果時数</th>
            <th rowspan="2">停止忌引</th>
            <th rowspan="2">得点対象外</th>
          </tr>
          <tr>
            <th>素点</th>
            <th>その他１</th>
            <th>その他２</th>
            <th>得点</th>
            <th>欠席</th>
            <th>素点</th>
            <th>その他３</th>
            <th>その他４</th>
            <th>得点</th>
            <th>欠席</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="td-left">テストテスト</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td class="td-left">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th class="th-center" colspan="4">合計</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
          <tr>
            <th class="th-center" colspan="4">平均点</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
          <tr>
            <th class="th-center" colspan="4">受験者数</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>