<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @exam.name %>
</p>

<p>
  <b>Course:</b>
  <%= @exam.course %>
</p>

<p>
  <b>Problem count:</b>
  <%= @exam.problem_count %>
</p>

<p>
  <b>Max score:</b>
  <%= @exam.max_score %>
</p>

<p>
  <b>Weight:</b>
  <%= @exam.weight %>
</p>

<p>
  <b>Data:</b>
  <%= @exam.data %>
</p>


<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
