<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <% @admission_method.admission_phases.each_with_index do |phase, index| %>
  <Worksheet ss:Name="<%= phase.name.to_s %>">
    <Table>
      
      <Row>
        <Cell><Data ss:Type="String"><%= t("admission_periods.name") + " : " + @admission_period.name %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String"><%= t("admission_methods.singular") + " : " + @admission_method.name %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String"><%= t("admission_phases.singular") + " : " + phase.name.to_s %></Data></Cell>
      </Row>
      <Row></Row>
      <Row></Row>
      <% phase.admission_phase_states.each do |state| %>
      <Row>
        <Cell><Data ss:Type="String"><%= t("admission_phase_states.singular") + " : " + state.name.to_s %></Data></Cell>
      </Row>
      <Row>
        <Cell><Data ss:Type="String">志願者番号</Data></Cell>
        <Cell><Data ss:Type="String"><%= t("surname") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t("given_name") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t("surname_reading") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= t("name_reading") %></Data></Cell>
      </Row>
      <% @state_records.each do |record| %>
        <% if record.admission_phase == phase && record.admission_phase_state == state %>
      <Row>
        <Cell><Data ss:Type="String"><%= record.admission.applicant_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.admission.student.surname %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.admission.student.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.admission.student.surname_reading %></Data></Cell>
        <Cell><Data ss:Type="String"><%= record.admission.student.name_reading %></Data></Cell>
      </Row>
        <% end %>
      <% end %>
      <Row></Row>
      <Row></Row>
      <% end %>
    </Table>
  </Worksheet>
  <% end %>
</Workbook>