<!DOCTYPE html>
<html>
<head>
  <title>GAKUEngine</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "shared/menubar" %>

<%= yield %>

</body>
</html>
