<!DOCTYPE html>
<html>
<head>
  <title>GAKUEngine</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    params[:controller] %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "shared/menubar" %>
  <div class="container-fluid">
    <%= render :partial => "shared/flash" %>
  
    <%= yield %>
  
    <%= javascript_include_tag "gakuengine" %>
  </div>
</body>
</html>
